zurg: v1
token: YOUR_REAL_DEBRID_API_TOKEN_HERE

host: "[::]"
port: 9999

api_rate_limit_per_minute: 60
torrents_rate_limit_per_minute: 25
concurrent_workers: 32
check_for_changes_every_secs: 15

directories:
  shows:
    group: media
    filters:
      - has_episodes: true
  movies:
    group: media
    only_show_the_biggest_file: true
    filters:
      - regex: /.*/
